<div class="card-container">
    <a class="circle-link" title="Quran" href="#" target="_blank" rel="noopener">
     <img src="assets/quran.svg" alt="Quran" style="max-width: 60%;">
    </a>

    <a class="circle-link" title="Hadith" href="#" target="_blank" rel="noopener">
      <img src="assets/star.svg" alt="Hadith" style="max-width: 60%;">
    </a>

    <a class="circle-link" title="Calender" href="#" target="_blank" rel="noopener">
      <img src="assets/hajj.svg" alt="Calender" style="max-width: 60%;">
    </a>
</div>
